*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li a {
    text-decoration: none;
}

div img{
    display: flex;
    width: 90%;
}
.flex-container{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    flex:100%;
    padding: 25px 25px;
}
header{
    background-color: #122a57;
    height: 150px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}
header .list-item{
    display: inline-flex;
    max-width: 260px;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
}
.list-item li a{
    color: #fff;
    padding: 5px;
}
header .menu{
    justify-content: space-between;
}
.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}
.apresentacao .texto-apresentacao{
    min-height: 200px;
}
.texto-apresentacao h1{
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}
.btn{
    background-color: #122a57;
    color:#fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    align-items: center;
}
.btn:hover{
    background-color:darkcyan;
    color: white;
    padding: 2px 2px 1px 0px;
    animation-delay: 500ms;
    position:initial;
    animation-duration: 500ms;
    box-shadow: 5p 5px 5px 5px #fff;
}
#quem-somos{
    flex-direction: row-reverse;
    align-items: justify;
    justify-content: space-around;
    padding: 5px;
    position: relative;
}
#quem-somos h2{
    font-size: 32px;
    color:#122a57;
    display: inline-flex;
    margin-top: -200px;
    margin-bottom: 300px;
    padding-right: auto;
    padding-left: auto;
    padding-top: 20px;
    padding: 15px;
    position:absolute;
    text-align:center;
    align-items: center;    
}
#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
}
#quem-somos p{
    margin-bottom: 10px;
    max-width: 95%;
    justify-content: center;
    align-items: center;
}
#quem-somos img{
    display: flex;
    min-width: 420px;
    max-width: 90%;
    min-height: 220px;
    max-height: 90%;
}
#servicos{
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
    background-color: #122a57;
}
#servicos h2{
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
    align-items: center;
    padding: 15px;
}
.list-servicos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #122a57;
    width: 100%;
    height: 25%;
}

.item-servico .list-servicos{
    text-align: center;
}
.item-servico a{
    width: 120px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    text-decoration: none;
    color: #122a57;
    font-size: 12px;
    font-weight: 700;
}
.list-servicos p{
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;

}
.item-servico img{
    max-width: 80%;
    margin: auto;
}
#planos{
    flex-direction: column;
    min-height: 80vh;
    padding-top: 10px;
    text-align: center;
    align-items: center;
}
#planos h2{
    font-size: 32px;
    color: #122a57;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.list-planos{
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.item-plano{
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
    margin-bottom: 20px;
}
.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}
.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}
.item-plano h3::after{
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.item-plano ul{
    padding: 10px 20px;   
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;
}
footer{
    background-color: #122a57;
    height: 120px;
    display: flex;
    width: 100%;
    align-items: center;
}
footer .footer, #email{
    justify-content: space-around;
    color: #fff;
    text-decoration: none;
}
#link-topo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(22, 213, 178);
    padding: 25px;
    position: fixed;
    right: 12px;
    bottom: 15px;
    box-shadow: 3px 3px 10px rgb(214, 11, 11);
    border-radius: 10px;
}
#link-topo:hover{  
    color: #ffffff;
    background-color: rgba(35, 69, 216, 0.76);
    box-shadow: 4px 4px 10px rgb(255, 15, 15);
    box-shadow: 5p 5px 5px 5px rgb(2, 68, 118);
    border-radius: 10px;
    transition: .3s linear;
}
#link-topo:active {
    transform: scale(0.98);
    box-shadow: 5p 5px 5px 5px rgb(2, 68, 118);
    box-shadow: 4px 4px 10px rgb(255, 15, 15);
}

@media(max-width: 650px){
     .flex-container {
        flex-direction: column;
     }
     .apresentacao{
        flex-direction: column-reverse;
     }
     .apresentacao .texto-apresentacao{
        width: 100%;
     }
     #quem-somos{
        flex-direction: column-reverse;
     }
     #quem-somos img{
        min-width: 320px;
        margin: auto;
     }
     .list-servicos{
        flex-direction: column;
     }
     .item-servico img{
        width: 100%;
        height: 100%;
        margin: auto;
     }
     footer{
        flex-direction: column;
        margin: auto;
        width: 100%;
     }
     .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
     }
     .list-planos .item-plano{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
     }
}
@media(min-height: 800px){

    .item-servico img{
       width: 100%;
       height: 5%;
       margin: auto;
    
    }
}